* :focus {
  outline: none !important;
}
.btn:focus {
  box-shadow: none !important;
}
nav {
  border-bottom: 3px inset var(--gold);
  opacity: 0.95;
  position: fixed !important;
  top: 0;
  width: 100%;
  background: var(--navbar);
  z-index: 999;
}
.navbar-brand {
  padding: 0 !important;
}
.navbar-brand a {
  font-weight: 900;
  font-size: 1.9rem !important;
  color: var(--pinkish) !important;
  transition: all 0.2s;
}
.navbar-brand a:hover {
  cursor: pointer;
  opacity: 0.8;
}
nav a.nav-link {
  margin: 0;
  font-size: 1.15rem;
  display: inline-block;
  color: var(--whiteish) !important;
  text-transform: uppercase;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
nav a.nav-link.active {
  color: var(--pinkish) !important;
}

nav a.nav-link:hover {
  color: var(--greyish) !important;
  cursor: pointer;
}
nav a.nav-link::after {
  display: block;
  content: '';
  border-bottom: 2px solid var(--pinkish);
  width: 0;
  transition: all 0.35s linear;
}
nav a.nav-link:hover:after {
  width: 100%;
}

nav a.active {
  text-decoration: none;
}

nav .nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .nav-item .theme {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: all 0.35s linear;
  cursor: pointer;
}

nav .nav-item .theme:hover {
  border-radius: 50%;
  background: #e2e2e2;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

/*
-------------------------------------------
MEDIA QUERIES
-------------------------------------------
*/

/* EXTRA SMALL*/
@media (max-width: 575.98px) {
}
/* SMALL */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* MEDIUM */
@media (max-width: 991.98px) {
  nav .nav-item {
    display: flex;
    justify-content: left;
  }
}

/* LARGE */
@media (max-width: 1199.98px) {
}

/* EXTRA LARGE*/
@media (min-width: 1200px) {
}
