* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-style: normal !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(130, 123, 125);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.6);
  border: 7px solid rgba(255, 255, 255, 0.6);
  background-clip: content-box;
}

html {
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: rgba(255, 255, 255, 0.6) rgb(130, 123, 125);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6 !important;
}

body[data-theme='light'] {
  --white: #fff;
  --gold: #eebc1d;
  --whiteish: #f7f7f7;
  --greyish: #999;
  --pinkish: #e31b6d;
  --blueish: #04c2c9;
  --darkblue: #002244cc;
  --whiteblue: #002244cc;
  --blackish: #181818b3;
  --h4: #212529;
  --animate-delay: 0.1s !important;
  --navbar: #343a40;
  --linear-gradient1: #777777cc;
  --linear-gradient2: #333333cc;
  background-color: #00224499 !important;
  transition: all 0.35s ease-in-out;
}

body[data-theme='dark'] {
  --white: #fff;
  --gold: #facd3d;
  --whiteish: #fff;
  --greyish: #999;
  --pinkish: #aa336a;
  --blueish: #04c2c9;
  --whiteblue: #002244cc;
  --darkblue: #1b242f;
  --h4: #999;
  --blackish: #181818b3;
  --animate-delay: 0.1s !important;
  --navbar: #152028;
  --linear-gradient1: #413f3fcc;
  --linear-gradient2: #020202cc;
  background-color: #212a2e !important;
  color: #808080;
  transition: all 0.35s ease-in-out;
}

body[data-theme='dark'] img {
  filter: brightness(0.8);
}

.wow {
  visibility: hidden;
}
